.donators {
  min-height: 89vh;
  background: radial-gradient(#0093a9 8%, transparent 8%), white;
  background-size: 25px 25px;
  overflow: hidden;

  .icon-row {
    position: relative;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;

    .ic {
      animation: animate1 80s linear infinite;
      animation-delay: -80s;
    }
    .ic:nth-child(2) {
      animation: animate2 80s linear infinite;
      animation-delay: -40s;
    }
  }
  .donators-title {
    position: relative;
    overflow: hidden;
    height: 150px;
    background: linear-gradient(71deg, #610081, #6200a3, #610081);

    .title-row {
      top: -420px;
      left: -100px;
      font-size: 70px;
      transform: rotate(-30deg);

      .title-icons {
        color: #268500;
        padding: 0 8px;
      }
    }

    .title {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.125);
      display: flex;
      justify-content: center;
      align-items: center;

      .container-title {
        text-align: center;
        padding: 0 !important;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        line-height: 60px;
        overflow: hidden;
      }
    }
  }

  .donators-background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .card-img {
      position: relative;
      width: 300px;
      height: 680px;
      background: #20a1b4;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(10px);
      cursor: pointer;

      .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.5s;

        .imgBx {
          position: relative;
          width: 200px;
          height: 400px;
          overflow: hidden;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .monitor-img {
          width: 390px;
        }
        .contentBx h3 {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 500;
          font-size: 18px;
          text-align: center;
          margin: 20px 0 10px;
          line-height: 1.1em;

          span {
            font-size: 12px;
            font-weight: 300;
            text-transform: initial;
          }
        }
      }

      &:hover .content {
        transform: translateY(-20px);
      }
      .sci {
        position: absolute;
        bottom: 50px;
        display: flex;

        li {
          list-style: none;
          margin: 0 10px;
          transform: translateY(40px);
          transition: 0.5s;
          opacity: 0;

          a {
            color: #fff;
            font-size: 20px;
            text-decoration: none;
          }
        }
      }
      &:hover .sci li {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    .mon-wid {
      width: 450px;
    }
    .icons-back {
      background-color: #1e293b;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      height: 680px;
      width: 62%;
      border-radius: 10px;
      border: 2px solid rgba(255, 255, 255, 0.1);
      position: relative;
      overflow: hidden;

      .card-row {
        font-size: 67px;

        .title-icons {
          color: #0093a9;
          padding: 0 2px;
        }
      }
      .icon-row:nth-child(even) {
        .ic {
          animation: animate3 80s linear infinite;
          animation-delay: -80s;
        }
        .ic:nth-child(2) {
          animation: animate4 80s linear infinite;
          animation-delay: -40s;
        }
      }
      .donators-card {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.125);
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.1);

        .pedestal {
          --bar-color: rgb(186, 93, 93);

          margin: 0 auto;
          margin-top: 100px;
          height: 500px;
          width: 700px;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(100, 1fr);
          grid-column-gap: 5px;

          .bar {
            background-color: var(--bar-color);
            width: 100px;
            grid-row-end: 101;
            border-radius: 5px 5px 0 0;
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .__1 {
            grid-column: 1;
            grid-row-start: 15;
          }
          .__2 {
            grid-column: 2;
            grid-row-start: 30;
          }
          .__3 {
            grid-column: 3;
            grid-row-start: 45;
          }
          .__4 {
            grid-column: 4;
            grid-row-start: 60;
          }
          .__5 {
            grid-column: 5;
            grid-row-start: 75;
          }
          .username {
            color: #ffffff;
            font-size: 20px;
            font-family: "Times New Roman", Times, serif;
          }
          .profile-pic {
            aspect-ratio: 1;
            border: clamp(3px, 0.4vw, 5px) solid white;
            border-radius: 100%;
            flex-shrink: 0;
            position: absolute;
            top: -110px;

            .profile-pic-image {
              background-color: rgba(255, 255, 255, 0.06);
              border-radius: 100%;
              margin: clamp(5px, 0.75vw, 10px);
              object-fit: cover;
              height: 75px;
              width: 75px;
            }
          }
          .donated {
            color: white;
            background-color: #9a9a9a;
            width: 221px;
            position: absolute;
            top: -100px;
            left: 100px;
            text-align: left;
            font-family: "Times New Roman", Times, serif;
            font-size: 16px;
            border-radius: 10px;

            p {
              text-align: center;
            }
          }
          .icon-background {
            background-color: white;
            .icon {
              height: 48px;
              font-size: 24px;
              line-height: 48px;
              text-align: left;
              -webkit-transition: all 200ms linear;
              transition: all 200ms linear;
            }
          }
          .underline {
            bottom: 0;
            height: 2px;
            width: 100%;

            &:before {
              position: absolute;
              left: 99px;
              top: -80px;
              content: "";
              height: 2px;
              width: 226px;
              background: #ffffff;
            }
          }
        }
      }
    }
    .portrait {
      width: 90%;
    }
  }
}

.color1 {
  color: #d7a800;
}
.color2 {
  color: gray;
}
.color3 {
  color: #b75300;
}
.color4 {
  color: #ae3ec9;
}
.color5 {
  color: #00bc42;
}

@keyframes animate1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 344px) {
  .donators .donators-background .icons-back .donators-card .pedestal {
    width: 513px;

    .profile-pic {
      width: 93px;
    }
    .bar {
      width: 98px;
    }
  }
}
@media (min-width: 345px) and (max-width: 369px) {
  .donators .donators-background .icons-back .donators-card .pedestal {
    width: 539px;
  }
}
@media (min-width: 370px) and (max-width: 389px) {
  .donators .donators-background .icons-back .donators-card .pedestal {
    width: 556px;
  }
}
@media (min-width: 390px) and (max-width: 399px) {
  .donators .donators-background .icons-back .donators-card .pedestal {
    width: 581px;
  }
}
@media (min-width: 400px) and (max-width: 429px) {
  .donators .donators-background .icons-back .donators-card .pedestal {
    width: 615px;
  }
}
@media (min-width: 430px) and (max-width: 479px) {
  .donators .donators-background .icons-back .donators-card .pedestal {
    width: 644px;
  }
}
@media (min-width: 480px) and (max-width: 759px) {
  .donators .donators-background .icons-back .donators-card .pedestal {
    width: 803px;

    .profile-pic .bar {
      width: 84px;
    }
  }
}
@media screen and (min-width: 760px) and (max-width: 819px) {
  .donators .donators-background .icons-back .donators-card .pedestal {
    width: 669px;
  }
}
@media screen and (min-width: 820px) and (max-width: 851px) {
  .donators {
    min-height: 72vh;

    .donators-background .icons-back .donators-card .pedestal {
      width: 707px;
    }
  }
}
@media screen and (min-width: 852px) and (max-width: 911px) {
  .donators {
    min-height: 72vh;

    .donators-background .icons-back .donators-card .pedestal {
      width: 755px;
    }
  }
}
@media screen and (min-width: 912px) and (max-width: 1024px) {
  .donators {
    min-height: 66vh;
  }
}
@media (min-width: 345px) and (max-width: 1024px) {
  .donators
    .donators-background
    .icons-back
    .donators-card
    .pedestal
    .profile-pic {
    width: 94px;
  }
}
@media screen and (max-width: 1400px) {
  .donators .donators-background .icons-back .donators-card .pedestal {
    .money-value {
      color: #ffffff;
    }
    .username {
      margin: auto auto;
    }
    .bar {
      margin: 0 auto;
    }
  }
}
