.donaters {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 89vh;
  background: linear-gradient(to right, #ebe37d, #2f80ed);
  overflow: hidden;

  .donaters-card {
    text-align: center;
    height: 680px;
    width: 1100px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
  }

  h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-shadow: 0.022em 0.022em 0.022em #111;
    color: #e5e5e5;
  }

  .pedestal {
    --bar-color: rgb(186, 93, 93);

    margin: 0 auto;
    margin-top: 100px;
    height: 500px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: 5px;

    .bar1 {
      background-color: var(--bar-color);
      width: 100px;
      grid-column: 1;
      grid-row-start: 15;
      grid-row-end: 101;
      border-radius: 5px 5px 0 0;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .user1 {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
      }
    }
    .bar2 {
      background-color: var(--bar-color);
      width: 100px;
      grid-column: 2;
      grid-row-start: 30;
      grid-row-end: 101;
      border-radius: 5px 5px 0 0;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .user2 {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
      }
    }
    .bar3 {
      background-color: var(--bar-color);
      width: 100px;
      grid-column: 3;
      grid-row-start: 45;
      grid-row-end: 101;
      border-radius: 5px 5px 0 0;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .user3 {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
      }
    }
    .bar4 {
      background-color: var(--bar-color);
      width: 100px;
      grid-column: 4;
      grid-row-start: 60;
      grid-row-end: 101;
      border-radius: 5px 5px 0 0;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .user4 {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
      }
    }
    .bar5 {
      background-color: var(--bar-color);
      width: 100px;
      grid-column: 5;
      grid-row-start: 75;
      grid-row-end: 101;
      border-radius: 5px 5px 0 0;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .user5 {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
      }
    }
  }
}
.profile-pic {
  aspect-ratio: 1;
  border: clamp(3px, 0.4vw, 5px) solid white;
  border-radius: 100%;
  flex-shrink: 0;
  position: absolute;
  top: -110px;
}
.profile-pic > .profile-pic-image {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 100%;
  margin: clamp(5px, 0.75vw, 10px);
  object-fit: cover;
  height: 75px;
  width: 75px;
}

.donated {
  width: 221px;
  position: absolute;
  top: -100px;
  left: 110px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
.icon-background {
  background-color: white;
  .icon {
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
}

.color1 {
  color: #d7a800;
}
.color2 {
  color: gray;
}
.color3 {
  color: #b75300;
}
.color4 {
  color: #ae3ec9;
}
.color5 {
  color: #00bc42;
}

.underline {
  bottom: 0;
  height: 2px;
  width: 100%;

  &:before {
    position: absolute;
    left: 99px;
    top: -80px;
    content: "";
    height: 2px;
    width: 210px;
    background: #ffffff;
  }
}
