.donaters {
  min-height: 89vh;
  background: radial-gradient(#0093a9 8%, transparent 8%), white;
  background-size: 25px 25px;
  overflow: hidden;

  .icon-row {
    position: relative;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;

    .ic {
      animation: animate1 80s linear infinite;
      animation-delay: -80s;
    }
    .ic:nth-child(2) {
      animation: animate2 80s linear infinite;
      animation-delay: -40s;
    }
  }
  .donators-title {
    position: relative;
    overflow: hidden;
    height: 150px;
    background: linear-gradient(71deg, #610081, #6200a3, #610081);

    .title-row {
      top: -420px;
      left: -100px;
      font-size: 70px;
      transform: rotate(-30deg);

      .title-icons {
        color: #268500;
        padding: 0 8px;
      }
    }

    .title {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.125);
      display: flex;
      justify-content: center;
      align-items: center;

      .container-title {
        text-align: center;
        padding: 0 !important;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        line-height: 60px;
        overflow: hidden;
      }
    }
  }

  .donators-background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .icons-back {
      background-color: #1e293b;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      height: 680px;
      width: 90%;
      border-radius: 10px;
      border: 2px solid rgba(255, 255, 255, 0.1);
      position: relative;
      overflow: hidden;

      .card-row {
        font-size: 67px;

        .title-icons {
          color: #0093a9;
          padding: 0 2px;
        }
      }
      .icon-row:nth-child(even) {
        .ic {
          animation: animate3 80s linear infinite;
          animation-delay: -80s;
        }
        .ic:nth-child(2) {
          animation: animate4 80s linear infinite;
          animation-delay: -40s;
        }
      }
      .donators-card {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.125);
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.1);

        .pedestal {
          --bar-color: rgb(186, 93, 93);

          margin: 0 auto;
          margin-top: 100px;
          height: 500px;
          width: 700px;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(100, 1fr);
          grid-column-gap: 5px;

          .bar {
            background-color: var(--bar-color);
            width: 100px;
            grid-row-end: 101;
            border-radius: 5px 5px 0 0;
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .__1 {
            grid-column: 1;
            grid-row-start: 15;
          }
          .__2 {
            grid-column: 2;
            grid-row-start: 30;
          }
          .__3 {
            grid-column: 3;
            grid-row-start: 45;
          }
          .__4 {
            grid-column: 4;
            grid-row-start: 60;
          }
          .__5 {
            grid-column: 5;
            grid-row-start: 75;
          }
          .username {
            color: #ffffff;
            font-size: 20px;
            font-family: "Times New Roman", Times, serif;
          }
          .profile-pic {
            aspect-ratio: 1;
            border: clamp(3px, 0.4vw, 5px) solid white;
            border-radius: 100%;
            flex-shrink: 0;
            position: absolute;
            top: -110px;

            .profile-pic-image {
              background-color: rgba(255, 255, 255, 0.06);
              border-radius: 100%;
              margin: clamp(5px, 0.75vw, 10px);
              object-fit: cover;
              height: 75px;
              width: 75px;
            }
          }
          .donated {
            color: white;
            background-color: #9a9a9a;
            width: 221px;
            position: absolute;
            top: -100px;
            left: 100px;
            text-align: left;
            font-family: "Times New Roman", Times, serif;
            font-size: 16px;
            border-radius: 10px;

            p {
              text-align: center;
            }
          }
          .icon-background {
            background-color: white;
            .icon {
              height: 48px;
              font-size: 24px;
              line-height: 48px;
              text-align: left;
              -webkit-transition: all 200ms linear;
              transition: all 200ms linear;
            }
          }
          .underline {
            bottom: 0;
            height: 2px;
            width: 100%;

            &:before {
              position: absolute;
              left: 99px;
              top: -80px;
              content: "";
              height: 2px;
              width: 226px;
              background: #ffffff;
            }
          }
        }
      }
    }
  }
}

.color1 {
  color: #d7a800;
}
.color2 {
  color: gray;
}
.color3 {
  color: #b75300;
}
.color4 {
  color: #ae3ec9;
}
.color5 {
  color: #00bc42;
}

@keyframes animate1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 344px) {
  .donaters .donators-background .icons-back .donators-card .pedestal {
    width: 515px;

    .username {
      margin: auto auto;
    }
    .profile-pic {
      width: 93px;
    }
    .bar {
      width: 98px;
    }
  }
}
@media (min-width: 345px) and (max-width: 369px) {
  .donaters .donators-background .icons-back .donators-card .pedestal {
    width: 545px;

    .username {
      margin: auto auto;
    }
    .profile-pic {
      width: 94px;
    }
  }
}
@media (min-width: 370px) and (max-width: 389px) {
  .donaters .donators-background .icons-back .donators-card .pedestal {
    width: 578px;

    .username {
      margin: auto auto;
    }
    .profile-pic {
      width: 94px;
    }
  }
}
@media (min-width: 390px) and (max-width: 399px) {
  .donaters .donators-background .icons-back .donators-card .pedestal {
    width: 613px;

    .username {
      margin: auto auto;
    }
    .profile-pic {
      width: 94px;
    }
  }
}
@media (min-width: 400px) and (max-width: 429px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .donaters .donators-background .icons-back .donators-card .pedestal {
    width: 663px;

    .username {
      margin: auto auto;
    }
    .profile-pic {
      width: 94px;
    }
  }
}
@media (min-width: 430px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .donaters .donators-background .icons-back .donators-card .pedestal {
    width: 702px;

    .username {
      margin: auto auto;
    }
    .profile-pic {
      width: 94px;
    }
  }
}
