html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1800px;
}
@media (min-width: 320px) and (max-width: 499px) {
  .container {
    margin: 15px;
  }
}

.section-header-mg {
  scroll-margin-top: 40px;
}
@media (min-width: 760px) {
  .section-header-mg {
    scroll-margin-top: 65px;
  }
}
@media (min-width: 720px) and (max-height: 540px) {
  .section-header-mg {
    scroll-margin-top: 50px;
  }
}
@media (min-width: 1024px) and (max-height: 600px) {
  .section-header-mg {
    scroll-margin-top: 55px;
  }
}

/*Login and Register pages*/
.login-register {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #2f80ed, #ebe37d);
  overflow: hidden;

  * {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    outline: none;
  }
  .landscape {
    background-color: rgba(255, 255, 255, 0.13);
    position: relative;
    display: flex;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    width: 90%;
    height: 90%;
    max-width: 1400px;
    max-height: 800px;

    .column {
      flex: 1;
      position: relative;
      display: flex;
    }
  }
  .portrait {
    height: 80%;
    width: 100%;
    min-height: 600px;
    position: relative;
    display: flex;
  }
}

/* Loader in Login, Register, Profile pages */
.loader {
  margin-left: 10px;
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  animation: an1 1s ease infinite;
  border-top-color: #052abc;
}
@keyframes an1 {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.header-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header-body > Header {
  flex-shrink: 0;
}
.main-body {
  flex-grow: 1;
}
