.edit-item {
  margin: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ebe37d, #2f80ed);
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;

  .col-half,
  input {
    box-sizing: border-box;
  }

  .item-desc {
    display: flex;
    align-items: center;
    justify-content: center;

    .alert-message {
      position: absolute;
      top: 75px;
    }
    .item-card {
      overflow: hidden;
      text-align: center;
      max-width: 42em;
      padding: 1em 3em 2em 3em;
      margin: 0em auto;
      background-color: #fff;
      border-radius: 4.2px;
      box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);

      .row {
        zoom: 1;
        margin: 10px;

        h1,
        h4 {
          color: #f0a500;
          margin-bottom: 5px;
        }
        input {
          width: 100%;
          padding: 1em;
          line-height: 1.4;
          background-color: #f9f9f9;
          border: 1px solid #e5e5e5;
          border-radius: 3px;
          -webkit-transition: 0.35s ease-in-out;
          -moz-transition: 0.35s ease-in-out;
          -o-transition: 0.35s ease-in-out;
          transition: 0.35s ease-in-out;
          transition: all 0.35s ease-in-out;
        }
        input:focus {
          outline: 0;
          border-color: #bd8200;
        }
        input:focus + .input-icon i {
          color: #f0a500;
        }
        input:focus + .input-icon:after {
          border-right-color: #f0a500;
        }
        .form-element {
          width: 380px;
          height: 233px;
          margin: auto;
          position: relative;
          box-shadow: 0px 0px 20px 5px rgba(100, 100, 100, 0.1);
          border-radius: 12px;

          input {
            display: none;
          }
          #profile-image-preview {
            img {
              width: 380px;
              height: 233px;
              object-fit: cover;
              border-radius: 12px;
            }
            .upload-content {
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              position: absolute;
              background: rgba(0, 0, 0, 0.6);
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              opacity: 0;
              transition: 0.6s;
              cursor: pointer;
              border-radius: 12px;

              &:hover {
                opacity: 1;
              }
              .upload-image {
                height: 100px;
                font-size: 50px;
                line-height: 100px;
              }
              h2 {
                font-size: 25px;
                color: #f0a500;
              }
              & > * {
                transform: translateY(25px);
                transition: transform 0.6s;
              }
              &:hover > * {
                transform: translateY(0px);
              }
            }
          }
        }
        .input-group {
          margin-bottom: 1em;
          zoom: 1;
        }
        .input-group:before,
        .input-group:after {
          content: "";
          display: table;
        }
        .input-group:after {
          clear: both;
        }
        .input-group-icon {
          position: relative;

          input {
            padding-left: 4.4em;
          }
          .input-icon {
            position: absolute;
            top: -3px;
            left: 0;
            width: 3.4em;
            height: 3.4em;
            line-height: 4.8em;
            text-align: center;
            pointer-events: none;
          }
          .input-icon:after {
            position: absolute;
            top: 0.6em;
            bottom: 0.6em;
            left: 3.4em;
            display: block;
            border-right: 1px solid #e5e5e5;
            content: "";
            -webkit-transition: 0.35s ease-in-out;
            -moz-transition: 0.35s ease-in-out;
            -o-transition: 0.35s ease-in-out;
            transition: 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
          }
          .input-icon i {
            height: 100%;
            width: 100%;
            -webkit-transition: 0.35s ease-in-out;
            -moz-transition: 0.35s ease-in-out;
            -o-transition: 0.35s ease-in-out;
            transition: 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
          }
        }
        .description {
          display: flex;
          justify-content: center;

          .form-control {
            width: 570px;
            height: 120px;
            padding: 1em;
            background-color: #f9f9f9;
            border: 1px solid #e5e5e5;
            border-radius: 3px;

            &.thick {
              padding: 0.5rem;
            }

            &:focus {
              background-color: #f2f6f8;
              outline: 0;
              border-color: #bd8200;
              box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
            }
            &:after {
              border-right-color: #f0a500;
            }
          }
        }
        .btn-container {
          text-align: center;
          display: flex;

          button {
            height: 48px;
            padding: 0px 20px;
            margin: 0 auto;
            font-family: "Quicksand", sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #fff;
            line-height: 40px;
            text-align: center;
            background-color: #c99400;
            border: 1px #c99400 solid;
            border-radius: 5px;
            opacity: 1;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: #d5a700;
              border: 1px #d5a700 solid;
            }
            &:focus {
              outline: none;
            }
            .loader {
              border-top-color: #b76800;
            }
          }
        }
        .col-half {
          padding-right: 10px;
          float: left;
          width: 50%;
        }
        .col-half:last-of-type {
          padding-right: 0;
        }
      }
      .row:before,
      .row:after {
        content: "";
        display: table;
      }
      .row:after {
        clear: both;
      }
      .message .form-control {
        width: 85%;
        margin: 5px 0;
        padding: 0.5rem 1.8rem;
      }
      ::placeholder {
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        color: #838788;
        position: relative;
        left: 0;
      }
    }
  }
}
.edit-item > Header {
  flex-shrink: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}
