@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.login-register h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.log-reg-form {
  padding: 50px 45px;

  .reg-input-box {
    height: 52px;
    margin: 18px 0;
    text-align: center;

    input {
      height: 80%;
      width: 85%;
      outline: none;
      padding: 0 15px;
      font-size: 17px;
      font-weight: 400;
      color: #333;
      border: 1.5px solid #c7bebe;
      border-bottom-width: 2.5px;
      border-radius: 6px;
      transition: all 0.3s ease;
    }
    .success {
      border-color: #09c372;
    }
    .error {
      border-color: #8a021d;
    }
    p {
      color: red;
      margin-left: 15px;
      margin-bottom: 10px;
      text-align: left;
    }
  }
  .reg-button {
    height: 52px;
    margin: 36px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      height: 100%;
      width: 85%;
      letter-spacing: 1px;
      border: none;
    }
  }
}
