@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.register {
  .login-register {
    .alert-message {
      z-index: 100;
      position: absolute;
      top: 10%;
      margin: 0 25px;
    }
    .portrait .log-reg-form .reg-input-box .input-icon .--icon .tooltiptext {
      left: -192px;

      &::after {
        left: 85%;
      }
    }
    .log-reg-form {
      .reg-input-box {
        margin: 25px 0;
        text-align: center;

        .input-icon {
          height: 100%;
          position: relative;

          input {
            height: 90%;
            width: 100%;
            box-sizing: border-box;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
            padding-left: 15px;
            font-size: 17px;
            font-weight: 400;
            color: #333;
            border: 1.5px solid #c7bebe;
            border-bottom-width: 2.5px;
            border-radius: 6px;
            transition: all 0.3s ease;

            &:focus {
              border-color: #4070f4;
            }
          }
          .success {
            border-color: #09c372;
          }
          .error {
            border-color: #8a021d;
          }
          .--icon {
            position: absolute;
            top: 0;
            right: 10px;
            height: 48px;
            font-size: 24px;
            line-height: 48px;
            color: #ffc70e;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
            cursor: pointer;

            .name-tip {
              top: -58px;
            }
            .email-tip {
              top: -131px;
            }
            .pass-tip {
              top: -154px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .confirm-tip {
              top: -82px;
            }
            .tooltiptext {
              visibility: hidden;
              width: 240px;
              background-color: rgb(255, 219, 57);
              color: #000000;
              text-align: center;
              font-size: 15px;
              line-height: 24px;
              border-radius: 6px;
              padding: 5px 0;
              position: absolute;
              z-index: 1;
              left: 0px;

              &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 5%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: rgb(255, 219, 57) transparent transparent
                  transparent;
              }
            }
          }
          .--icon:hover .tooltiptext {
            visibility: visible;
          }
        }
        p {
          color: red;
          margin-left: 10px;
          margin-bottom: 10px;
          text-align: left;
        }
      }
      .subm-button button {
        margin-top: 25px;
      }
    }
  }
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 369px) {
  .register .login-register .log-reg-form .reg-input-box .input-icon .--icon {
    right: 10px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .register .login-register .log-reg-form .reg-input-box {
    height: 52px;
  }
}
@media (min-width: 760px) and (max-width: 999px) and (orientation: portrait) {
  .register .login-register .portrait {
    .log-reg-form {
      .reg-input-box .input-icon input {
        font-size: 24px;
        height: 64px;
        padding: 0 19px;
      }
      .reg-input-box .input-icon {
        .--icon {
          font-size: 37px;
          top: 14px;
        }
      }
    }
  }
}
@media (min-width: 760px) and (max-width: 819px) {
  .register
    .login-register
    .portrait
    .log-reg-form
    .reg-input-box
    .input-icon
    .--icon
    .tooltiptext {
    left: -503%;
  }
}
@media (min-width: 760px) and (max-width: 1024px) and (orientation: portrait) {
  .register
    .login-register
    .portrait
    .log-reg-form
    .reg-input-box
    .input-icon
    .--icon {
    .name-tip {
      top: -63px;
    }
    .email-tip {
      top: -136px;
    }
    .pass-tip {
      top: -159px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .confirm-tip {
      top: -87px;
    }
  }
}
@media (min-width: 820px) and (orientation: portrait) {
  .register
    .login-register
    .portrait
    .log-reg-form
    .reg-input-box
    .input-icon
    .--icon
    .tooltiptext {
    left: -500%;
  }
}

@media (min-width: 912px) and (orientation: portrait) {
  .register .login-register .portrait .log-reg-form {
    h2 {
      margin-bottom: 80px;
    }
    .reg-input-box .input-icon input {
      font-size: 26px;
      height: 74px;
      padding: 0 19px;
    }
    .reg-input-box .input-icon {
      .--icon {
        font-size: 46px;
        top: 14px;

        .tooltiptext {
          left: -395%;
        }
      }
    }
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .register .login-register .landscape .log-reg-form .reg-input-box {
    height: 47px;
    margin: 18px 0;
  }
}
@media (min-width: 1300px) and (max-width: 1599px) and (orientation: landscape) {
  .register
    .login-register
    .landscape
    .column
    .log-reg-form
    .reg-input-box
    input {
    padding: 0px 12px;
  }
}
@media (min-width: 1024px) and (max-height: 600px) {
  .register .login-register .landscape .column .log-reg-form .reg-input-box {
    margin: 0 0;

    input {
      height: 38px;
      font-size: 14px;
      padding: 0px 10px;
    }
    .input-icon .--icon {
      top: 0px;
      right: 15px;

      .tooltiptext {
        left: -10px;

        &::after {
          left: 9%;
        }
      }
    }
  }
}
@media (min-width: 720px) and (max-height: 540px) {
  .register .login-register .landscape .column .log-reg-form .reg-input-box {
    margin: 0 0;

    input {
      height: 38px;
      font-size: 14px;
      padding: 0px 8px;
    }
    .input-icon .--icon {
      top: -1px;
      right: 9px;

      .tooltiptext {
        width: 206px;
        font-size: 13px;
        line-height: 20px;
        left: -77px;

        &::after {
          left: 43%;
        }
      }
    }
    .input-icon .--icon .name-tip {
      top: -48px;
    }
    .input-icon .--icon .email-tip {
      top: -108px;
    }
    .input-icon .--icon .pass-tip {
      top: -128px;
    }
    .input-icon .--icon .confirm-tip {
      top: -68px;
    }
  }
}
