.slider {
  height: 100vh;
  position: relative;

  .slide {
    position: relative;
    height: 100vh;
    width: 100%;

    &:target {
      z-index: 100;
    }
    img {
      max-width: 100%;
      height: 100vh;
      width: 100%;
      position: relative;
      left: 0;
    }
    a.prev,
    a.next {
      height: 91px;
      position: absolute;
      width: 43px;
      color: #fff;
      top: 50%;
      margin-top: -30px;
      opacity: 0.6;
      text-indent: -99999px;
      cursor: pointer;
    }
    a.prev:hover,
    a.next:hover {
      opacity: 1;
    }
    .prev {
      left: 0;
      background: #000
        url("https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png")
        no-repeat -200px 25px;
    }
    .next {
      right: 0;
      background: #000
        url("https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png")
        no-repeat -167px 25px;
    }
  }
}
/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .slider {
    height: 760px;
    .slide {
      height: 760px;
      img {
        height: 760px;
      }
    }
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) and (max-width: 764px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .slider {
    height: 860px;
    .slide {
      height: 860px;
      img {
        height: 860px;
      }
    }
  }
}
@media (min-width: 765px) and (max-width: 820px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .slider {
    height: 650px;
    .slide {
      height: 650px;
      img {
        height: 650px;
      }
    }
  }
}
@media (min-width: 821px) and (max-width: 1024px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .slider {
    height: 750px;
    .slide {
      height: 750px;
      img {
        height: 750px;
      }
    }
  }
}
@media (min-width: 801px) and (max-width: 1024px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
