.icon-row {
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;

  .ic {
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
  }
  .ic:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
  }
}
.icon-row:nth-child(even) {
  .ic {
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
  }
  .ic:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
  }
}
.card-row {
  font-size: 67px;

  .title-icons {
    color: #0093a9;
    padding: 0 2px;
  }
}
