.items {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../img/pixels.png");
  padding: 0 !important;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}
.items-title {
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  overflow: hidden;
}
.container-title {
  text-align: center;
  padding: 0 !important;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
  overflow: hidden;
}

.gradient-cards {
  padding: 30px;
  overflow: hidden;
}

.card {
  max-width: 1000px;
  border: 0;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 20px;
}

.left {
  float: left;
}
.right {
  float: right;
}

.container-card {
  display: grid;
  grid-template-columns: 2fr auto;
  column-gap: 1em;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

.container-card .column1 {
  text-align: center;
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
}

.item-image {
  width: 380px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.container-card .column1 .donate-button:link,
.container-card .column1 .donate-button:visited {
  all: unset;
  margin-top: 10px;
  background: rgb(0, 195, 65);
  border: 2px solid white;
  padding: 1em 4em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  transition: all 300ms ease;
  span {
    display: inline-block;
    transition: all 300ms ease;
    z-index: 2;
  }
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    transition: all 300ms ease;
    opacity: 0;
  }
  &:before {
    height: 7px;
    width: 7px;
    background: transparent;
    border-right: 2px solid;
    border-top: 2px solid;
    right: 30px;
    top: 1.323em;
    transform: rotate(45deg);
  }
  &:after {
    background: rgb(0, 0, 0);
    height: 2px;
    width: 50px;
    left: 0;
    top: 1.49em;
    z-index: 1;
  }
  &:hover {
    span {
      transform: translateX(-10px);
    }
    &:before {
      opacity: 1;
    }
    &:after {
      width: 14px;
      opacity: 1;
      transform: translateX(175px);
    }
  }
}

.container-card .column1 .donate-button:hover,
.container-card .column1 .donate-button:active {
  background-color: rgb(0, 237, 79);
}
