.payment {
  min-height: 89vh;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 10px;
  row-gap: 1em;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(to right, #ebe37d, #2f80ed);
}
.payment .block {
  margin: 10px;
  max-width: 450px;
  display: inline-block;
}
.payment .row1 {
  margin-top: 60px;
  display: inline-block;
}
.payment .description {
  input {
    display: block;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 7px;
    font-size: 17px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.05);
    border: none;
    transition: background 0.5s;
    pointer-events: none;
    &:focus {
      outline-width: 0;
      background: rgba(31, 134, 252, 0.15);
      transition: background 0.5s;
    }
  }
  /* CSS */
  a {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }

  a:disabled {
    pointer-events: none;
  }

  a:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  a:active {
    box-shadow: none;
    transform: translateY(0);
  }

  label {
    padding-left: 8px;
    font-size: 15px;
    color: #444;
  }

  .ccv {
    width: 40%;
  }

  .buy {
    width: 260px;
    height: 50px;
    position: relative;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    background: #42c2df;
    color: white;
    font-size: 20px;
    transition: background 0.4s;
    cursor: pointer;
    i {
      font-size: 20px;
    }
    &:hover {
      background: #3594a9;
      transition: background 0.4s;
    }
  }
}

.container-mastercard {
  padding: 1em;

  .front-card {
    display: grid;
    grid-template-columns: 2fr auto;
    column-gap: 1em;
    padding: 0.1em 1em;
    color: white;
    width: 370px;
    height: 235px;
    border-radius: 11px;
    background: linear-gradient(135deg, #45484d 0%, #000000 100%);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease, box-shadow 0.2s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.015);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.45);
    }
    #main-title {
      margin-top: 20px;
    }
    #globe {
      margin-top: 20px;
      margin-left: 50px;
      font-size: 1.6em;
    }
    span {
      font-weight: normal;
      color: #f8f8f8;
    }
    #chip {
      width: 50px;
      height: 75px;
      margin-top: 2.3em;
      margin-left: 0.4em;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .card-info {
      #no {
        font-size: 1.25em;
        font-family: "Cutive Mono";
        font-weight: bold;
        letter-spacing: 2px;
        text-shadow: 2px 2px 1px rgba(black, 0.3);
        margin-bottom: 15px;
      }
      #name {
        font-family: "Cutive Mono";
        font-weight: bold;
        font-size: 1.3em;
        display: block;
      }
      #exp-date {
        margin-top: 7px;
        position: relative;
        font-size: 0.8em;
        opacity: 0.9;
        display: block;
      }
      .grid-date {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1em;
      }
    }
    #mastercard {
      background: url("http://www.pngall.com/wp-content/uploads/2016/07/Mastercard-PNG-Clipart.png");
      width: 80px;
      height: 65px;
      margin-top: 110px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.container-visa {
  padding: 1em;

  .front {
    position: relative;
    color: white;
    width: 370px;
    height: 235px;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    padding: 0.1em 1em;
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease, box-shadow 0.2s ease-in;
    z-index: 1;
    backface-visibility: hidden;
    &:hover {
      cursor: pointer;
      transform: scale(1.015);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.45);
    }
  }

  .row {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
  }

  .card-no {
    font-size: 35px;
    margin-top: 25px;
  }

  .card-holder {
    font-size: 12px;
    margin-top: 40px;
  }

  .name {
    font-size: 22px;
  }

  .bar {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
  }

  .card-text {
    margin-top: 30px;
    font-size: 14px;
  }

  .signature {
    margin-top: 30px;
  }
}
