@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.login-register h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.log-reg-background .register-shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  &:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -100px;
  }
  &:last-child {
    background: linear-gradient(to right, #febf11, #fae900);
    right: -60px;
    bottom: -80px;
  }
}

.log-reg-form {
  padding: 50px 45px;
  .reg-input-box {
    height: 52px;
    margin: 18px 0;
    text-align: center;
    input {
      height: 80%;
      width: 85%;
      outline: none;
      padding: 0 15px;
      font-size: 17px;
      font-weight: 400;
      color: #333;
      border: 1.5px solid #c7bebe;
      border-bottom-width: 2.5px;
      border-radius: 6px;
      transition: all 0.3s ease;
    }
    .success {
      border-color: #09c372;
    }
    .error {
      border-color: #8a021d;
    }
    p {
      color: red;
      margin-left: 15px;
      margin-bottom: 10px;
      text-align: left;
    }
  }
  .button {
    height: 52px;
    margin: 36px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      height: 100%;
      width: 85%;
      color: #fff;
      letter-spacing: 1px;
      border: none;
      background: #4070f4;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button:hover {
      background: #0e4bf1;
    }
    button .loader {
      margin-left: 10px;
      pointer-events: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ffffff;
      animation: an1 1s ease infinite;
    }
    @keyframes an1 {
      0% {
        transform: rotate(0turn);
      }
      100% {
        transform: rotate(1turn);
      }
    }
  }

  .reg-h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    color: #333;
    width: 100%;
    text-align: center;
  }
  .text h3 a {
    color: #4070f4;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
