button.prev,
button.next {
  height: 91px;
  width: 43px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  color: transparent;
  opacity: 0.6;
  text-indent: -99999px;
  cursor: pointer;
  border: none;
  z-index: 11;
}

button.prev:hover,
button.next:hover {
  opacity: 1;
}

button.prev {
  left: 0;
  background: url("https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png")
    no-repeat -200px 25px;
  background-color: #000; /* Fallback for background */
}

button.next {
  right: 0;
  background: url("https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png")
    no-repeat -167px 25px;
  background-color: #000; /* Fallback for background */
}
