.container-list {
  display: flex;

  .list-items {
    text-align: left;
    list-style-position: inside;
    list-style-type: none;

    li {
      padding-left: 2rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .list-items.center {
    text-align: center;
  }
  .list-items.bullets li {
    background-image: url("../../../img/bullet.svg");
  }
  .list-items.bags li {
    background-image: url("../../../img/walkie-talkie.svg");
  }
}
.container-list.mobile {
  justify-content: center;

  li {
    padding-left: 1rem;
  }
}
.container-list.right {
  justify-content: flex-end;
}

@media (orientation: portrait) {
  .container-list .list-items.bullets li {
    padding: 0;
    background-image: none;
  }
  .container-list .list-items {
    list-style-image: url("../../../img/bullet.svg");
    list-style-position: inside;
  }
}
@media (min-width: 320px) and (max-width: 499px) {
  .container-list .list-items {
    font-size: 11px;
  }
}
@media (min-width: 500px) and (max-width: 720px) and (orientation: portrait) {
  .container-list .list-items {
    font-size: 12px;
  }
}
@media (min-width: 1024px) and (max-width: 1400px) and (orientation: landscape) {
  .container-list .list-items {
    font-size: 12px;

    li {
      padding-left: 1rem;
    }
  }
}
@media (min-width: 1180px) and (max-width: 1400px) and (orientation: landscape) {
  .container-list .list-items {
    font-size: 15px;

    li {
      padding-left: 1.5rem;
    }
  }
}
@media (min-width: 720px) and (max-height: 540px) and (orientation: landscape) {
  .container-list .list-items {
    font-size: 8px;

    li {
      padding-left: 1rem;
    }
  }
}
