.donators {
  background: radial-gradient(#0093a9 8%, transparent 8%), white;
  background-size: 25px 25px;

  .donators-main {
    display: flex;
    justify-content: center;

    .donators-background {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 10px;
      margin-top: 25px;
      margin-bottom: 25px;

      .icons-back {
        background-color: #1e293b;
        text-align: center;
        height: 680px;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        position: relative;
        overflow: hidden;

        .donators-card {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.125);
          border-radius: 10px;
          border: 2px solid rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

@keyframes animate1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Media Query For different screens */
@media (min-width: 820px) and (max-width: 851px) {
  .donators {
    min-height: 72vh;
  }
}
@media (min-width: 852px) and (max-width: 911px) {
  .donators {
    min-height: 72vh;
  }
}
@media (min-width: 912px) and (max-width: 1024px) {
  .donators {
    min-height: 66vh;
  }
}
@media (min-width: 1500px) {
  .donators .donators-main .donators-background .icons-back {
    height: 970px;
  }
}
