.donators {
  background: radial-gradient(#0093a9 8%, transparent 8%), white;
  background-size: 25px 25px;
  overflow: hidden;

  .icon-row {
    position: relative;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;

    .ic {
      animation: animate1 80s linear infinite;
      animation-delay: -80s;
    }
    .ic:nth-child(2) {
      animation: animate2 80s linear infinite;
      animation-delay: -40s;
    }
  }
  .donators-background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .icons-back {
      background-color: #1e293b;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      height: 680px;
      width: 62%;
      border-radius: 10px;
      border: 2px solid rgba(255, 255, 255, 0.1);
      position: relative;
      overflow: hidden;

      .card-row {
        font-size: 67px;

        .title-icons {
          color: #0093a9;
          padding: 0 2px;
        }
      }
      .icon-row:nth-child(even) {
        .ic {
          animation: animate3 80s linear infinite;
          animation-delay: -80s;
        }
        .ic:nth-child(2) {
          animation: animate4 80s linear infinite;
          animation-delay: -40s;
        }
      }
      .donators-card {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.125);
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.1);
      }
    }
    .portrait {
      width: 90%;
    }
  }
}

@keyframes animate1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Media Query For different screens */
@media (min-width: 820px) and (max-width: 851px) {
  .donators {
    min-height: 72vh;
  }
}
@media (min-width: 852px) and (max-width: 911px) {
  .donators {
    min-height: 72vh;
  }
}
@media (min-width: 912px) and (max-width: 1024px) {
  .donators {
    min-height: 66vh;
  }
}
@media (min-width: 1500px) {
  .donators .donators-background .icons-back {
    height: 970px;

    .card-row {
      font-size: 95px;
    }
  }
}
