.pedestal {
  --bar-color: rgb(186, 93, 93);

  margin: 0 auto;
  height: 100%;
  width: 80%;
  position: relative;

  .bar {
    background-color: var(--bar-color);
    width: 100px;
    grid-row-end: 101;
    border-radius: 5px 5px 0 0;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .__1 {
    grid-column: 1;
    grid-row-start: 15;
  }
  .__2 {
    grid-column: 2;
    grid-row-start: 30;
  }
  .__3 {
    grid-column: 3;
    grid-row-start: 45;
  }
  .__4 {
    grid-column: 4;
    grid-row-start: 60;
  }
  .__5 {
    grid-column: 5;
    grid-row-start: 75;
  }
}
.grid-p {
  margin-top: 100px;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
}
.flex-l {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 344px) {
  .grid-p {
    width: 513px;

    .bar {
      width: 99px;
    }
  }
}
@media (min-width: 345px) and (max-width: 369px) {
  .grid-p {
    width: 539px;
  }
}
@media (min-width: 370px) and (max-width: 389px) {
  .grid-p {
    width: 556px;
  }
}
@media (min-width: 390px) and (max-width: 399px) {
  .grid-p {
    width: 581px;
  }
}
@media (min-width: 400px) and (max-width: 429px) {
  .grid-p {
    width: 615px;
  }
}
@media (min-width: 430px) and (max-width: 479px) {
  .grid-p {
    width: 644px;
  }
}
@media (min-width: 480px) and (max-width: 759px) {
  .grid-p {
    width: 803px;
  }
}
@media (min-width: 760px) and (max-width: 1399px) {
  .grid-p {
    width: 100%;
  }
}
@media (min-width: 912px) and (max-width: 1024px) {
  .pedestal .bar {
    width: 102px;
  }
}
@media (min-width: 1025px) and (max-width: 1499px) {
  .pedestal .bar {
    width: 105px;
  }
}
@media (max-width: 1499px) {
  .pedestal .bar {
    margin: 0 auto;
  }
}
@media (min-width: 1500px) {
  .pedestal .bar {
    width: 140px;
  }
}
