/* Login and Register form */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.log-reg-form {
  height: 100%;
  width: 98%;
  max-width: 400px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
  box-sizing: border-box;

  h2 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-bottom: 30px;
  }
  .form-fields {
    padding: 0 10px;
    box-sizing: border-box;

    label {
      color: #ffffff;
      display: block;
      font-size: 16px;
      font-weight: 500;
    }
    .log-input-box {
      position: relative;

      input {
        height: 55px;
        width: 100%;
        outline: none;
        padding: 0 15px;
        font-size: 17px;
        font-weight: 400;
        color: #333;
        border: 1.5px solid #c7bebe;
        border-bottom-width: 2.5px;
        border-radius: 6px;
        transition: all 0.3s ease;
        box-sizing: border-box;

        &:focus {
          border-color: #4070f4;
        }
      }
      .password-toggle-icon {
        position: absolute;
        top: 55%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;

        i {
          font-size: 24px;
          line-height: 1;
          color: #333;
          transition: color 0.3s ease-in-out;
          margin-bottom: 20px;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 369px) {
  .log-reg-form .log-input-box input {
    padding: 0 10px;
  }
}
@media (min-width: 370px) and (max-width: 759px) {
  .log-reg-form .log-input-box input {
    padding: 0 12px;
  }
}
@media (min-width: 912px) {
  .log-reg-form {
    label {
      font-size: 25px;
    }
    input {
      font-size: 26px;
      height: 74px;
      padding: 0 19px;
    }
    .log-input-box .password-toggle-icon {
      right: 24px;

      i {
        font-size: 30px;
      }
    }
  }
}
@media (min-width: 1180px) and (max-width: 1299px) and (orientation: landscape) {
  .log-reg-form .log-input-box input {
    padding: 0px 14px;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) and (orientation: landscape) {
  .log-reg-form .log-input-box input {
    padding: 0px 12px;
  }
}
@media (min-width: 1600px) and (orientation: landscape) {
  .log-reg-form h2 {
    font-size: 55px;
  }
}
@media (min-width: 1024px) and (max-height: 600px) {
  .log-reg-form {
    font-size: 16px;

    h2 {
      margin-bottom: 30px;
    }
    label {
      font-size: 14px;
    }
    .reg-input-box {
      height: 60px;

      .input-icon {
        height: 38px;
      }
    }
  }
}
@media (min-width: 720px) and (max-height: 540px) {
  .log-reg-form {
    font-size: 14px;
    width: 80%;

    h2 {
      margin-bottom: 10px;
    }
    .reg-input-box {
      margin: 0 0;

      input {
        height: 38px;
        font-size: 14px;
        padding: 0px 8px;
      }
      .input-icon .--icon {
        top: -1px;
        right: 9px;

        .tooltiptext {
          width: 206px;
          font-size: 13px;
          line-height: 20px;
          left: -77px;

          &::after {
            left: 43%;
          }
        }
      }
      .input-icon .--icon .name-tip {
        top: -48px;
      }
      .input-icon .--icon .email-tip {
        top: -108px;
      }
      .input-icon .--icon .pass-tip {
        top: -128px;
      }
      .input-icon .--icon .confirm-tip {
        top: -68px;
      }
    }
  }
}
