.submit-but {
  margin-top: 50px;
  width: 100%;
  padding: 15px 0;
  border: none;
  background-color: #4070f4;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #0e4bf1;
  }
}

@media (min-width: 720px) and (max-height: 540px) {
  .submit-but {
    height: 44px;
    margin: 7px 0;
    margin-top: 0;
    font-size: 14px;
  }
}
@media (min-width: 912px) and (orientation: portrait) {
  .submit-but {
    font-size: 30px;
  }
}
